
@{
	ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<p>This is the Index view.</p>

<div class="some-spacing">
	<div>
		@Html.ActionLink("Go to Saturday. |", "Saturday", "Weeks")
	@Html.ActionLink("Go to Sunday. |", "Sunday", "Weeks")
	@Html.ActionLink("Go to Monday. |", "Monday", "Weeks")
	@Html.ActionLink("Go to Tuesday. |", "Tuesday", "Weeks")
	@Html.ActionLink("Go to Wednesday. |", "Wednesday", "Weeks")
	@Html.ActionLink("Go to Thursday. |", "Thursday", "Weeks")
	@Html.ActionLink("Go to Friday. |", "Friday", "Weeks")
</div>
</div>



